@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --main-bg-color: #181719;
  --secondary-bg-color: #26242b;
  --main-border-color: #464545;
  --main-text-color: #fff;
}

:root.dark {
  --main-bg-color: #181719;
  --secondary-bg-color: #26242b;
  --main-border-color: #464545;
  --main-text-color: #fff;
}

@font-face {
  font-family: "Pixel Font";
  src: URL("fonts/pixelfont.ttf") format("truetype");
}

* {
  font-family: "Share Tech Mono", sans-serif;
  font-weight: bold;
}

body {
  font-family: "Pixel Font";
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

header {
  text-align: center;
}

article {
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Pixel Font", sans-serif;
  font-weight: bold;
}

.hidden {
  display: none;
}

.error-popup {
  background-color: var(--main-bg-color);
  z-index: 99999;
  color: var(--main-text-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53vw;
  height: 35vh;
  border: outset 1vw var(--main-border-color);
  border-radius: 0.2em;
  padding: 5px;
  font-size: 2.7vw;
  box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, 0.88);
  padding: 20px;
  text-align: center;
}

.error-popup p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px 0;
}

.error-popup button {
  line-height: 3vw;
  position: relative;
  top: 80%;
  width: 20%;
}
