@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --main-bg-color: #181719;
  --secondary-bg-color: #26242b;
  --main-border-color: #464545;
  --main-text-color: #fff;
}

:root.dark {
  --main-bg-color: #181719;
  --secondary-bg-color: #26242b;
  --main-border-color: #464545;
  --main-text-color: #fff;
}

@font-face {
  font-family: "Pixel Font";
  src: URL("fonts/pixelfont.ttf") format("truetype");
}

* {
  font-family: "Share Tech Mono", sans-serif;
  font-weight: bold;
}

body {
  font-family: "Pixel Font";
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

header {
  text-align: center;
}

.success .success-good {
  color: green;
}

.success .success-bad {
  color: red;
}

article {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#signin {
  margin-top: 20px;
  width: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signin .dot-bricks {
  display: none;
}

#signin[disabled] .text, #signin:disabled .text {
  display: none;
}
#signin[disabled] .dot-bricks, #signin:disabled .dot-bricks {
  display: initial; !important;
}

#nextmeme {
  margin: 8px 0;
  padding: 6px 20px;
}

.meme-img {
  max-width: 728px;
}

.meme-message {
  text-align: center;
}

.hidden {
  display: none;
}
.dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  animation: dotBricks 2s infinite ease;
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
  25% {
    box-shadow: 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 10007px 0 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
  }
  41.667% {
    box-shadow: 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
  }
  58.333% {
    box-shadow: 9991px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
  }
  66.666% {
    box-shadow: 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
  }
  75% {
    box-shadow: 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 #9880ff, 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Pixel Font", sans-serif;
  font-weight: bold;
}

.hidden {
  display: none;
}

.error-popup{
  /* To make the modal window center */
  background-color: var(--main-bg-color);
  box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, 0.88);
  border: outset 1vw var(--main-border-color);
  border-radius: 0.2em;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  /* To make the modal content center (additional)*/
  text-align: center;
  width: 50%;
  font-size: 1.5em;
  }

  @media only screen and (max-width: 768px) {
    .error-popup {
      width: 75%;
    }
  }
  